h1 {
    text-align: center;
}

p {
    border: 1px solid lightgray;
    height: 350px;
    font-size: 25px;
    text-align: center;
}

span {
    font-size: 20px;
    text-decoration: bold;
    color: lightblue;
}

.comment {
    float: left;
    width: 50%
}